<!-- Map Section-->
<section class="map-section">
    <iframe 
        class="w-100" height="500"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.0945222652786!2d37.009114375762564!3d-1.091380898898142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f46276c2d9021%3A0xbefd8e40071d3352!2sJomo%20Kenyatta%20University%20Of%20Agriculture%20And%20Technology!5e0!3m2!1sen!2ske!4v1742025547500!5m2!1sen!2ske" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <div class="branches-outer">
        <div class="auto-container">
            <div class="row">
                <!-- Branch Block -->
                <div class="branch-block col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-box">
                        <h5 class="title">Juja, Kenya</h5>
                        <ul class="info-list">
                            <li><i class="fa fa-phone text-warning"></i> <a href="tel:+254111724214">+254111724214</a><br></li>
                            <li><i class="fa fa-envelope text-warning"></i> <a href="mailto:support@fundly.co.ke">support@fundly.co.ke</a><br></li>
                            <li><i class="fa fa-map-marker-alt text-warning"></i> JKUAT Main Gate</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Map Section-->